[2013-09-16 12:29] brianloveswords opened #2 "Should use history API so users can use back button"
Pretty much what the title says.

[2013-09-16 13:02] brianloveswords opened #3 "Write a README.md"
Gotta write the manifesto

[2013-09-16 21:41] #2 closed, assigned to nobody

[2013-09-16 21:57] toolness opened #6 "Add a link to a basic command-line tutorial"
Not sure if this is in scope or not, but I thought it might be useful to note that basic use of the command line is a prerequisite to the tutorials, as is installing node/npm. Perhaps pointing the user to a [good tutorial on command-line usage](http://matt.might.net/articles/basic-unix/) might be helpful too?

[2013-09-17 08:08] toolness opened #7 "Add links to github repositories for workshops"
It would be cool if there was a "fork this workshop on github" or "view source" link to the github repo of each project on its respective page.

[2013-09-17 18:48] vladikoff opened #8 "Add logo to the Github Organization"
![nodeschool-logo](https://f.cloud.github.com/assets/128755/1159629/ad9192e2-1fc9-11e3-9fc1-8a98e23c7cce.png)

[2013-09-20 09:25] max-mapper opened #9 "add user accounts"
proposed flow:

you can log in with Mozilla Persona to workshopper on the command line so that workshops you complete can award you [open badges](http://openbadges.org/)

this means your progress is saved to your profile, which is viewable from nodeschool.io. I'm not sure if we need to have a login for for the web app side of things, but it would be cool if it showed the things you've earned in a

[2013-09-25 18:58] toolness opened #10 "Add anonymous usage data to workshoppers?"
I was just thinking that it might be useful if learners were able to opt-in to "anonymous usage reporting" which would basically send the source code and output of all their jobs (falied and successful) to a nodeschool.io server, where the workshop authors could consult it to get an idea of what kinds of mistakes/confusions users are making, so they can use the data to improve their workshops.

Al

[2013-09-29 15:36] connor11528 opened #11 "learnyounode launch"
I'm trying to run the learnyounode program. the install worked okay but when I run learnyounode I get this error:

node.js:201
        throw e; // process.nextTick error, or 'error' event on first tick
              ^

TypeError: Object #<ReadStream> has no method 'setRawMode'
    at new Menu (/usr/lib/node_modules/learnyounode/node_modules/workshopper/node_modules/terminal-menu/index.js:59:19)

[2013-09-30 11:01] #11 closed, assigned to nobody

[2013-11-09 12:00] max-mapper opened #15 "tips and tricks for hosting a nodeschool event"
I'm planning on writing an in-depth blog post after my next two nodeschool events (both have about 100 rsvps), but here's how i've planned mine:
- tito.io for RSVPs, it's free. feel free to copy [the content](https://tito.io/nodeschool/london-2013) in mine
- adopt a code of conduct like http://confcodeofconduct.com/. put it on the ticketing page:

[code]
- link to the event from nodeschool.io, whi

[2014-02-06 00:57] rodrigo-medeiros opened #23 "nodeschool.io in PT-BR?"
Guys, have you ever considered translating the nodeschool content to other languages, like Portuguese? Do you think it's a valid effort? You know, if the purpose is to reach more people, it's easier to translate the site and the exercises to other languages than to wait them learn English.

[2014-03-27 23:07] jlord opened #37 "Incorporate Spreadsheets!"
Assigning this to myself but welcome help!
- I want to create an **events calendar page with map**, using [jlord/sheetsee-calendar](https://github.com/jlord/sheetsee-calendar)
- Handle all **old/new events with a spreadsheet** and [sheetsee.js](https://github.com/jlord/sheetsee-calendar) instead of manually adding/subtracting them. This will be easier for people to contribute to and help us keep r

[2014-03-28 21:02] #8 closed, assigned to nobody

[2014-03-28 21:02] #7 closed, assigned to nobody

[2014-03-28 22:26] max-mapper opened #38 "nodeschool.io analytics for anyone who is interested"
here are the high level stats for the last week:

![screen shot 2014-03-28 at 3 25 56 pm](https://cloud.githubusercontent.com/assets/39759/2555956/f936fad0-b6c7-11e3-8b46-d62b8c670687.png)

and referrals:

![screen shot 2014-03-28 at 3 24 36 pm](https://cloud.githubusercontent.com/assets/39759/2555949/ded97f46-b6c7-11e3-8169-9a2929f908b7.png)

[2014-03-29 21:35] #37 closed, assigned to jlord

[2014-04-02 01:25] jlord opened #42 "Backfill Events on Spreadsheet"
So that all the events we know of are in one place and the map gets populated with all dem markers! [spreadsheet](https://docs.google.com/a/github.com/spreadsheet/ccc?key=0AuOjlXjUrSbAdE1XRFJkeEJZQ1NSelhILUR0NXdBWUE#gid=0)

[2014-05-20 19:20] MartinFaartoft opened #44 "stream-adventure: HTTP_SERVER accepts silly solution"
The following passes the 'verify' test for HTTP_SERVER in the stream_adventure module.

[code]

[2014-06-25 10:18] substack opened #48 "nodeschool event spreadsheet blocked in china"
Google and Google Docs are blocked in China, so the events loaded from the spreadsheet don't render.

[2014-07-06 16:32] othiym23 opened #55 "split between "core concepts" and "electives" no longer makes sense"
...or if it does, it doesn't really make sense that Bytewiser and Functional JavaScript are in core concepts but Expressworks or Going Native aren't. It's probably about time to eliminate the distinction (although having the workshoppers sorted by importance (which I leave to Max or Rod or whomever) is probably a good idea).

[2014-08-20 15:44] finnp opened #62 "Update DNS settings"
I just noticed that the DNS settings of `nodeschool.io` are outdated. The A record should be updated to `192.30.252.153` from  `204.232.175.78`. The website still works, but repositories like https://github.com/nodeschool/london/tree/gh-pages are not served as e.g. `nodeschool.io/london`. I think it would be nice if this would be possible again.

[code]

Best,
Finn

[2014-08-20 17:33] #62 closed, assigned to nobody

[2014-08-22 05:01] #55 closed, assigned to nobody

[2014-08-22 05:01] #38 closed, assigned to nobody

[2014-08-22 05:01] #42 closed, assigned to nobody

[2014-08-22 05:01] #44 closed, assigned to nobody

[2014-08-22 05:01] #15 closed, assigned to nobody

[2014-08-22 05:01] #9 closed, assigned to nobody

[2014-08-22 05:02] #3 closed, assigned to brianloveswords

[2014-08-27 13:21] Andersos opened #65 "Events page and upcomming events broken"
It looks like the events page and the upcomming events list is broken.

![skjermbilde 2014-08-27 kl 15 20 12](https://cloud.githubusercontent.com/assets/288977/4060122/ea93980c-2dec-11e4-97d1-178cd573ad85.png)
![skjermbilde 2014-08-27 kl 15 20 05](https://cloud.githubusercontent.com/assets/288977/4060123/ea998b0e-2dec-11e4-8058-cda8442812ea.png)

[2014-08-27 14:38] #65 closed, assigned to nobody

[2014-09-03 01:34] maxogden opened #66 "Improve Chapters page"
I made a simple list for now: http://nodeschool.io/chapters.html

But this could use something way more awesome

[2014-09-03 01:35] max-mapper opened #67 "Tech-Tree UI for workshop list"
We should start prototyping this on a branch as a separate page, e.g. `/workshoppers.html`

@substack has some modules for rendering hexagons as a grid

[2014-09-10 13:24] orliesaurus opened #71 "Nodeschool event page not updating"
I was under the impression that we were using spreadsheet as DB for the events, but I am not sure its rendering the upcoming events properly? Anyone knows what's up with that:
On the site it is displaying the events from May, and we're in September...is it probably something to do with parsing dates?
Thx

[2014-09-10 18:55] #71 closed, assigned to nobody

[2014-09-23 12:55] olizilla opened #73 "Sticker design as svg?"
Dear @jlord,

Can we get the sticker .ai exported as an svg? I tried to open it in Sketch, but it's not happy about it...

![screen shot 2014-09-23 at 13 53 28](https://cloud.githubusercontent.com/assets/58871/4372118/ba3e0c84-4320-11e4-8e47-24ef5524cd33.png)

[2014-09-24 21:34] #73 closed, assigned to nobody

[2014-09-25 00:20] finnp opened #75 "nodeschool sticker font"
Hey @jlord,

what's the font name of the nodeschool sticker? I am just creating a small tool for making it easier to create the awesome stickers: https://github.com/finnp/nodeschool-stickerify . It would be cool to know/have the font for this.

Best,
Finn

[2014-09-26 11:51] danjenkins opened #77 "Add a how to get started with node section nearer the top of the site"
Right now, for someone completely new to node, taking that leap from installing node to running npm commands etc is fairly considerable - "how do i get node?", "what is npm, why do I need to use it?" - these questions seem simple to us, but to complete strangers to node, and maybe even the command line, going and figuring out what to do at nodejs.org and going and reading about npm might be too mu

[2014-09-29 17:28] chmontgomery opened #81 "workshop map bug: wrong labels for locations"
Looks like most, if not all, of the locations have the wrong tooltip. For example, the London tooltip is showing up in Africa:

![screen shot 2014-09-29 at 12 24 20 pm](https://cloud.githubusercontent.com/assets/232356/4445928/fa9b86e4-47fd-11e4-86c4-2649b0a12eda.png)

[2014-10-01 14:45] danmactough opened #83 "Broken link on event submission form"
There is a broken link on the Google Form to submit an event:

![image](https://cloud.githubusercontent.com/assets/357481/4476851/678a199c-4979-11e4-8948-798f5f003ad3.png)

It needs to point to http://nodeschool.io/events.html

[2014-10-03 21:14] #83 closed, assigned to nobody

[2014-10-03 22:20] #81 closed, assigned to nobody

[2014-10-13 13:00] mdunisch opened #93 "Please move event (changed date) at google"
Hey,

unfortunately we chanced the date for nodeschool in hamburg.
Can someone please change the Date of **"nodeshool hamburg" to 8th november**? (currently 1st november)

[2014-10-13 13:21] max-mapper opened #94 "look for zh-tw translation before zh"
simplified chinese would use `zh-cn` and traditional would use `zh-tw` but currently the code in `lang.js` just looks at the first two characters. we should try the 5 character version first before falling back to the two character

this would also fix e.g. `en-us` vs `en-uk` vs `en-ca`

[2014-10-13 13:33] #93 closed, assigned to nobody

[2014-10-13 17:14] martinheidegger opened #97 "Make translations SEO friendly & Linkable"
The current translations are not SEO friendly because the javascript system is hidden for search engine crawlers and because the languages can not be directly linked using URLs. To serve proper html pages the homepage system would need to be changed to address that.

My approach would be to create "storage" repositories for each locale: ja/cn-tw/es/hu/etc. that contains the translations only and a

[2014-10-14 00:04] max-mapper opened #98 "add translation maintenance commands to package.json"
@watson came up with an idea for a `npm run translate` command that (I think) would work like this:

`npm run translate es` would create a new translation file (`languages/es.json`) pre-filled with the english strings. to implement this he is going to write a `cheerio` script that uses `languages/selectors.json` to scrape the various HTML files in the repo to grab all of the english strings for ea

[2014-10-14 02:59] #94 closed, assigned to nobody

[2014-10-14 14:24] #98 closed, assigned to nobody

[2014-10-14 16:33] lucasfcosta opened #107 ""npm run language <code>" not working"
Hi @maxogden , I was translating nodeschool.io to brazilian portuguese and I was able to translate everything by looking at how the chinese template was designed and comparing it to the original website.

After I was done translating all the content I ran:

[code]

And I got this error:

[code]

It happens on a brand new cloned project too.
I did run `npm install` and I'm using latest node version

[2014-10-15 12:06] #75 closed, assigned to nobody

[2014-10-16 09:04] #107 closed, assigned to nobody

[2014-10-29 13:00] brianloveswords opened #125 "[events map] Can we make the z-index for future events > z-index for past events?"
We have an event in NYC coming up but the yellow flag is buried under grey flags. Is there any way to get a consistently greater z-index on future events?

[2014-10-29 22:12] #125 closed, assigned to nobody

[2014-10-29 22:22] jlord opened #128 "Better Home Page Map"
Per discussions in #127 and #125 it would be great to have a map style that gave priority to upcoming events while still showing past events (to show just how crazy many there have been and if there has been activity in your area in the past).

@finnp [commented here](https://github.com/nodeschool/nodeschool.github.io/pull/127#issuecomment-61009559) about having a smaller dot marker for past event

[2014-10-31 10:18] sudodoki opened #133 "Translation instructions and language code"
In the README there's instruction to use first column of http://en.wikiversity.org/wiki/ISO_639-1_language_matrix table. But when you run `npm run language` prompt suggest 'e.g. en-US'. We should either change the prompt to be 'en' or link to table that have those en-US/en-GB and likewise listed.

[2014-10-31 10:18] #128 closed, assigned to nobody

[2014-10-31 15:30] #23 closed, assigned to nobody

[2014-11-01 13:08] sudodoki opened #138 "npm script to detect missing translations"
It would be nice to have npm script, something like `npm run missing` that would list all the missing translations for all the file (e.g. those, that are missing key that is present in [selectors.json](https://github.com/nodeschool/nodeschool.github.io/blob/master/languages/selectors.json), or are null). Bonus points for having options to scope it down to a language, i.e.: `npm run missing sv` to

[2014-11-01 13:23] sudodoki opened #139 "Deprecate selectors & use data-i18n attributes for translation"
This can be considered the phase one of moving tranlsations to the something like https://github.com/jsconfcn/jingjs/blob/gh-pages/index.html#L225. Deprecate the selectors.json file in favor of data-i18n data attributes with corresponding translation reference (i.e. 'menu-index', 'menu-events', etc).
This should also modify language npm script to accompany changes.

[2014-11-01 23:46] #139 closed, assigned to sudodoki

[2014-11-02 09:29] sudodoki opened #141 "Deprecate languages .json files, switch to SEO friendly spans"
instead of getting data from json files, content should be taken from on page invisible elements, like https://github.com/jsconfcn/jingjs/blob/gh-pages/index.html#L225-L402 is working.
This should also close #97

[2014-11-06 09:49] sudodoki opened #145 "Enhancement: add copy button for <code> sections with instructions"
It might be a nice touch to have [copy] button next to `<code>` with install instructions to have bulletproof method of running the command.

[2014-11-25 12:31] jasonrhodes opened #155 "Better chapter discovery"
Chapters are exploding like crazy and it's awesome! But now the website is almost always out of date, and more and more when we get chapter requests I'm worried that a nearby or identical chapter may already exist without me really knowing.

Could we make a /chapters folder in this repo where each chapter has a corresponding json file like this:

[code]

Then we can ask new organizers to submit a

[2014-11-30 19:43] #155 closed, assigned to nobody

[2014-12-02 16:19] jasonrhodes opened #162 "What happens when a chapter is not a city"
Right now most chapters correspond to a city, so `location` is the city and maybe the state/province, and then `country` is the two letter country code. Then the template is just `{{location}}, {{country}}`.

But what should happen if the location spans multiple cities, or is itself a country? Right now I've been jamming everything in location and if the location is a country, I leave `country` of

[2014-12-11 09:28] juaniyyoo opened #168 "French translation adjustment"
@maxlath, don't you think that this part of the translation is a bit heavy and repetitive :

[code]

What do you think of this one _(with accueillir correction)_ :

[code]

And sorry for the last commit. I just did not know how to pull a pull request to merge changes ...

[2014-12-11 14:22] #168 closed, assigned to nobody

[2014-12-15 05:23] martinheidegger opened #171 "Fix japanese translation"
The current japanese translation of the nodeschool.io site is missing some sections. (and other sections are outdated). Would be good to bring them up-to-date.

今の日本語のNodeSchoolのバーションは穴があいています。アップデートが必要です。

[2014-12-18 00:39] fmoliveira opened #173 "Event links in the calendar are broken"
Browse to the events page and look at the calendar. Try clicking at any event. All of them will send you to the URL "http://nodeschool.io/undefined".

[2014-12-18 13:42] #173 closed, assigned to nobody

[2014-12-22 15:34] conrado opened #182 "recompile chapter list"
Hi,

sorry, i may have been a little eager and pushed 48d9a234 directly to the master repo.

Could someone be so kind as to recompile the chapters list.json?

Thanks,
Conrado

[2014-12-22 16:37] #182 closed, assigned to nobody

[2015-01-05 10:45] fmoliveira commented on #77
+1

[2015-01-05 10:47] danjenkins commented on #77
If someone can give some guidance on where/how they would like this done, I'm sure any of us would go and implement it. Can someone give some guidance?

[2015-01-14 10:45] LaughingSun opened #201 "please build the main json file for the chapters and including the ./chapters/bali.json"
Hi finnp,

please build the main json file for the chapters and including the ./chapters/bali.json

It is all ready and tested.  but I see there is a build process for the main json file for the chapters page.  I don't really want to mess around with that and anyway we are suppose to PR's anyway.  Let me know if there is anything I need to do to facilitate this.

Regards

[2015-01-14 13:03] martinheidegger commented on #201
I think we need to setup a CI that does that :)

[2015-01-15 07:47] LaughingSun commented on #201
I somehow got caught upin making a chapters json file build utility / tool.  It is in my bali chapter folder under tools (http://nodeschool.io/bali/tools/BuildChapters.html).  It has the outer and 2 button UI implemented, but no functionality on the buttons yet.  But give it a look see if you are bored or interested in this sort of thing.  I will try to finish it before the coming Monday.

[2015-01-15 22:55] LaughingSun commented on #201
martinheidegger can you be more detailed for your comment?  CI is checkin, or Chocolate Interest or Colloquial Ism? :D

[2015-01-16 03:08] martinheidegger commented on #201
In websites I only know of CI being used for:

Practically it means: Setup a CI server like [Travis](https://travis-ci.org/) or [Codeship](https://codeship.com) to do the building of the site, so we dont need to.

[2015-01-16 03:33] LaughingSun commented on #201
ok yeah, I am familiar.  any suggestions?  I don't mind contributing solutions.  are there other that would be good contacts for getting stuff implemented?  I don't want to be a cowboy and just implement things without discussion.

thanks

[2015-01-16 03:40] LaughingSun opened #203 "I would like to propose a change or rather an enhancement to the list.json file format"
I would like to propose a change or rather an enhancement to the list.json file format, namely:

Can we add a Last-Modified field to the chapter objects, that states the time that object was integrated into the into the list.json from it's perspective <chapter-name>.json file.  It should be optional for backward compatibility and the <chapter-name>.json file need not have that field, just each cha

[2015-01-16 03:56] martinheidegger commented on #201
Being a cowboy can be done in parallel to implement things. Usually when I want a change I open a Pull Request with the change and offer others to comment on them.

[2015-01-16 04:00] martinheidegger commented on #203
The git commit comments should be both indicatory for the change time (last-modified) as well as for the purpose and the author. Not sure what the field would add except an additional need for maintenance.

btw.: I don't think the NodeSchool has any authorities: (all that initially worked on it seem to be busy with `io.js`) I will gladly comment on improvements though :smiley: since I place great

[2015-01-16 05:23] LaughingSun commented on #201
yeah I suppose so, as long as it is not in the totally wrong direction or ignored.  I guess this really is an organic atmosphere.  I just contribute what I think is needed or appropriate and see what happens.

Thanks for the inspiration (no that is not sarcasm)

[2015-01-16 05:28] LaughingSun commented on #203
of course there will be a last-modified in the commit comments but that
wont help to determine the last-modified of the chapter sub-object within
the list.json, which was the point for automating building the list.json
based on the chapters/*.json.
.

On Fri, Jan 16, 2015 at 12:00 PM, Martin Heidegger <notifications@github.com

--
Erich Horn
Denpasar, Bali, Indonesia
(62) 82140467070

[2015-01-16 07:25] maxogden commented on #203
@LaughingSun what is it exactly that you are building that requires knowing if the change was built or manually added in and also what do you mean by auto integrated?

[2015-01-16 08:01] LaughingSun commented on #203
I have already explained this in the previous comments, but let me try to
make it more clear:

If you are familiar with the chapters/list.json file, it includes all the
smaller chapters/<chapter-name>.json with the "chapters" keyfor each
chapter within the regions keyed object.

What this means is that the chapters/list.json and the respective
chapters/<chapter-name> files might be out of seek.  F

[2015-01-16 14:45] martinheidegger commented on #203
@LaughingSun The build script you are searching for is defined [here](https://github.com/nodeschool/nodeschool.github.io/blob/master/package.json#L7) and can be run using simply `npm run build`. This is a very common way to run build scripts in node which is why I think there has been no documentation on it. Aside from that: I don't see how the time-based information would provide any value for th

[2015-01-16 17:43] LaughingSun commented on #203
simply put: automation, but nevermind.

[2015-01-17 00:52] LaughingSun commented on #162
I think the location can still be used whether physical, virtual or otherwise location or alignment.

I think the location field could be used for a truley non-locational value also, FE "virtual" or "skype" or "irc.munchkin.org/chatmeup"

[2015-01-17 13:15] martinheidegger commented on #203
I don't think so.

[2015-01-19 16:12] #201 closed

[2015-01-19 16:14] LaughingSun commented on #66
is this closed?

[2015-01-19 16:19] martinheidegger commented on #66
Seems like it.

[2015-01-19 16:19] #66 closed

[2015-01-22 18:41] martinheidegger opened #209 "Add License mentions"
It would be good if the website would have a CC license mention as discussed in https://github.com/nodeschool/discussions/issues/253

[2015-01-26 20:37] maxogden opened #219 "Add guide on how to properly license your workshopper on the /build page"
http://nodeschool.io/building-workshops.html

Would be awesome if someone could PR some nicely written instructions that explain + recommend how to choose a license for the code (e.g. BSD) and a license for the content (e.g. CC0)

[2015-01-27 02:39] martinheidegger commented on #219
@mikeal @rvagg  I am not sure how many can help with that but you seem to know your business.

[2015-01-27 17:54] mikeal commented on #219
I'd recommend Apache 2.0, it's a BSD/MIT style license but has patent protection and what is essentially a built-in DCO (obviating the need to also have a DCO or CLA).

[2015-02-02 06:50] usmantahirr opened #223 "Node School Social Presence"
We don't have any official FB page or Twitter Account. I guess we should have one to increase our audience. I can make one right now, as I am experienced in running couple of web pages and twitter account so I can run them too.

Any suggestions? About name?, contact details? etc...

[2015-02-02 08:22] martinheidegger commented on #223
There is a [@nodeschool](https://twitter.com/nodeschool) Twitter id that basically automatically retweets everything that has @nodeschool written in it. Maintaining a facebook page is not a good idea because you will exclude quite a few people in the process. Unless its a similar bot -1 from me.

[2015-02-02 09:00] sudodoki commented on #223
:scream: I thought it was a living person / multiple people in charge of that account.

[2015-02-02 09:14] martinheidegger commented on #223
@sudodoki That its a bot is something that I just assume :)

[2015-02-02 10:21] usmantahirr commented on #223
So can i make a dedicated FB Page by NodeSchool Lahore name? Its actually easier to interact with people over there. Because not everyone is Good at GitHub, Plus not everyone is on Github. We can tell them how to use it though in our introductory sessions.

[2015-02-02 10:37] finnp commented on #223
@usmantahirr I think creating a facebook page for your local nodeschool chapter is no problem. You know best what works for you in your area. :star2:

Apart from that I am not against having a facebook page for NodeSchool in general. I am not sure how to manage it though.

[2015-02-02 21:35] maxogden commented on #223
@nodeschool on twitter is me, not a bot

[2015-02-05 05:16] martinheidegger commented on #223
@maxogden o_o wow ... :+1: Regarding managing: We could have a repository here that contains an issue board. Every entry will be published on twitter/facebook automatically and people can comment on it using github :)

[2015-02-06 22:57] alexfernandez opened #225 "Wrong days of the week in events page"
In the [events page](http://nodeschool.io/events.html) the days of the week for FEB 2015 and MAR 2015 are wrong, the 1st is shown as Monday (when Feb 1st was on a Sunday and Mar 1st will be on a Wednesday). See below.

![calendar-mar-2015](https://cloud.githubusercontent.com/assets/876570/6088919/e592c41e-ae5b-11e4-961d-1474ada97925.png)

[2015-02-06 23:03] sudodoki commented on #225
Not sure, just a guess, but it might be that [days array](https://github.com/nodeschool/nodeschool.github.io/blob/de4012c7cde5cdff27188c29e3d0122ff7a3bd19/js/table.js#L3) is not accounting for the fact that [getDay](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getDay) has next behaviour:

[2015-02-06 23:05] alexfernandez commented on #225
It's not just off by one weekday, it's completely wrong on FEB and MAR, but apparently correct for the remaining months.

[2015-02-06 23:06] sudodoki commented on #225
Actually yeah, @alexfernandez, you're right, given Jan gets us https://www.dropbox.com/s/arqqeha51rh2cu4/Screenshot%202015-02-06%2018.05.25.png?dl=0
Might it be that some cornercase when 1st day of the month is Sunday to blame?

[2015-02-06 23:08] alexfernandez commented on #225
Probably, now that you mention it it's off by one weekday... but only on those two months. Interesting.

[2015-02-09 05:46] matthewborden opened #229 "Use of School House Image in nodeschool/Melbourne"
Hey,

We are organising an event in Melbourne and I'm building the chapter website. I wanted to include schoolhouse.svg in our website, but there is no license on this repo. Could one of the @nodeschool/owners grant me permission to use schoolhouse.svg in the nodeschool/melbourne chapter site?

Thanks,
Matt.

[2015-02-09 14:20] makenai commented on #229
Check [here](https://github.com/nodeschool/nodeschool.github.io/blob/master/README.md#stickers-badges-and-whatnots) under "Stickers, Badges and whatnots" for an implied license.

"These are in the /images directory, feel free to use for your events. In images/make-a-sticker there is a template for making a sticker too. Woop."

e.g. You should feel free to use the logo for your event / chapter. The

[2015-02-09 19:30] matthewborden commented on #229
Great, Thanks for that. I'll make sure to reference and credit the assets we use from that directory.

[2015-02-09 19:30] #229 closed

[2015-02-11 19:41] maxogden commented on #225
cc @muan

[2015-02-11 19:43] maxogden commented on #223
for now I'm generally -1 on having a central coordinated nodeschool social presence, and would rather see chapters do it themselves as @finnp said. would also be nice if we had an organizers handbook that included info on how to run social media as well as all the other stuff involved in running a chapter

[2015-02-11 19:43] maxogden commented on #203
@LaughingSun thanks for the idea but I believe we want to keep the JSON file as it is for now

[2015-02-11 19:43] #203 closed

[2015-02-13 18:16] #225 closed

[2015-03-02 07:50] anupamkumar opened #249 "expressworks won't start"
I installed expressworks via npm

`npm install -g expressworks` and ran `expressworks`, selected the first exercise, but it fails.

This is the error.
`
    Error: Cannot find module 'workshopper-exercise'

    at Function.Module._resolveFilename (module.js:338:15)

    at Function.Module._load (module.js:280:25)

    at Module.require (module.js:364:17)

    at require (module.js:380:17)

    at

[2015-03-06 02:07] martinheidegger commented on #162
Closing the issue, seems fixed

[2015-03-06 02:07] #162 closed

[2015-03-09 17:52] turjoybd opened #254 "Syntax error in javascripting workshop, in lesson "array filtering""
There is some wrong syntax in lesson "array filtering" at javascripting workshop:
In the example code:

var filtered = pets.filter(function (pet){
	return (pet !== 'elephant');

[2015-03-09 19:26] sudodoki commented on #254
Do you run the latest workshop?
Can you do a screen capture?
Right now markdown with problem description has
[code]
Which assigns `filtered` to be `["cat", "dog"]` as a result of execution

[2015-03-09 19:35] turjoybd commented on #254
I was learning from the previous chapters. Was not familiar with this sort of function declaration. That was my fault.

[2015-03-12 20:06] thomaspeklak commented on #209
+1

[2015-03-13 10:35] grabbou commented on #223
We will be launching @nodeschool/wroclaw social account soon on twitter/facebook that's going to be maintained by a company of one of mentors (social presence, ecommerce and stuff). Having said so - we  can help with creating social guide on how to drive those channels efficiently.

[2015-03-13 10:37] grabbou commented on #10
We can just host it on DigitalOcean which is few bucks a month. We have some free slots left in case we are going to go with it.

[2015-03-16 06:33] usmantahirr commented on #223
@grabbou It will really help it you can provide a social presence guide. I am also thinking of creating social presence for Lahore. Any help would be appreciated.

[2015-03-16 15:13] grabbou commented on #223
Cool, I am in a process of setting everything up but hopefully by the end of this week we'll have more details on that.

[2015-03-26 03:29] #254 closed

[2015-03-26 03:30] SomeoneWeird commented on #249
This should be resolved, I think. Open another issue on the discussions repo if you're still having trouble.

[2015-03-26 03:30] #249 closed

[2015-03-30 00:41] Sequoia opened #266 "Slow & Steady"
Hi @arianeai! I'm another chapter organizer (in the US), and personally I'm very excited to see all this nodeschool activity in Iran! I look forward to finding out what you get up to.

That said, I noticed that there are at least [five new chapters](https://github.com/nodeschool/nodeschool.github.io/search?utf8=%E2%9C%93&q=ArianSotoudehMehr) with you listed as the only organizer. This sounds like

[2015-03-30 01:43] maxogden commented on #266
+1. Before creating many chapters I think it is better to start with 1 chapter, do a couple of events, and then think about starting another chapter.

There was more discussion on chapter size in this thread https://github.com/nodeschool/organizers/issues/150

[2015-03-30 17:56] arianeai commented on #266
thanks for your consideration. i pleasure to pay attention to your comments, but as you see in the middle east there is no active chapters. our goal is to build 12 main active chapter in the middle east with the  management of the isfahan nodeschool as the middle east section. we think, there are necessary actions to warm up the nodeschool activity in the middle east region. our trend is to make a

[2015-04-04 11:06] finnp opened #272 "Organize JavaScript in a Node fashion"
Hey everyone,

it would be kind of awesome if the JavaScript for the nodeschool page would be organized better. Editing the JS is often a bit confusing, because functions are hidden in different files.

So it would be cool if someone would re-arrange this using browserify and also link our dependencies in a package.json instead of just having them in the folder like right now.

This can be a bit t

[2015-04-04 11:09] finnp commented on #171
Is this resolved?

[2015-04-04 14:00] martinheidegger commented on #171
yes

[2015-04-04 14:00] #171 closed

[2015-04-16 03:19] martinheidegger opened #279 "Many translations miss the link to the hexdec"
Someone added the link to hexdec without notifying the translations that the content (of what was there) changed. As a result of this the introduction of the chapters:
![screenshot 2015-04-16 12 10 42](https://cloud.githubusercontent.com/assets/914122/7173413/3e1a7d32-e432-11e4-82d2-e2c3787bfa09.png)

Is missing the link to the hexdec in various languages
![Uploading Screenshot 2015-04-16 12.10.57

[2015-04-18 06:33] filtercake opened #286 "/mentor-at-event page?"
When asking people about mentoring, I've made the experience that may are unsure if they are "expert enough" or "teacher enough", if they have to prepare stuff, maybe even slides, talk in front of the group etc.

it would be helpful to have a link to send them which makes clear what is and isn't expected from them.

Maybe I just haven't found it? Otherwise I would like to add one.

Some ideas on c

[2015-04-18 13:54] filtercake commented on #286
am preparing a pull-request: http://filtercake.com/nodeschool.github.io/mentor-at-event.html

[2015-04-29 21:53] RodrigoEspinosa opened #300 "Is "Latin America" is valid geographical distinction?"
**This is something to remark on the [chapters](http://nodeschool.io/chapters.html) page.**

-------------------------------------

1. There is only one chapter over **South America** and is **Santiago, CL** which should be consider part of **Latin America**.

2. **Latin America** has not the same logical distinction as **North America**. All the countries from **Latin America** should be placed i

[2015-04-29 21:55] martinheidegger commented on #300
:+1: I think its a bug and should be fixed by renaming "Latin America" to "Central America" and move the countries that are actually in "South America" to "South America" , thanks  @RodrigoEspinosa for pointing it out.

[2015-04-29 23:53] a0viedo commented on #300
there's a context for this? I'm not following

[2015-04-29 23:54] RodrigoEspinosa commented on #300
Sorry @a0viedo, we are talking about this page http://nodeschool.io/chapters.html

[2015-04-29 23:56] a0viedo commented on #300
@RodrigoEspinosa oh, that's new! awesome.

then I agree with what are you guys saying

[2015-04-30 01:06] bevacqua commented on #300
+1 to making "Latin America" all the things

[2015-04-30 01:17] juanbrujo commented on #300
When I studied about this this, *Latin America* considered all countries with spanish language + Brazil. I'll try to find some source, but it was in the time *Internet* was not considered as a valid resource.

[2015-04-30 01:18] juanbrujo commented on #300
just to complete, the term *latin* includes all latin-based languages (spanish, portuguese, french, italian) based in American continent.

[2015-04-30 01:19] juanbrujo commented on #300
Well, same as [Wikipedia shows about América Latina](http://es.wikipedia.org/wiki/Am%C3%A9rica_Latina).

[2015-04-30 13:25] RodrigoEspinosa commented on #300
@juanbrujo yes, Latin america is constituted by the countries which primary language is a latin-based one.
But the discuss here is: **Is valid to divide the America continent into "North America" and "Latin America"**.
Mexico for example could be both, so *in my opinion* is better discriminate them by his region.

[2015-04-30 17:30] Siedrix commented on #300
Mexican here, Dont discriminate us bro. We are nice people.

Joking aside. North America is a purely geographical division and Latin America is etnical-geographic division it would be really complicated to fit and give a lot of edge cases like Mexico and Puerto Rico that are complicated to fit if we have this 2 buckets.

One option would be to have North America, Central America, South America and

[2015-04-30 22:02] julianduque commented on #300
+1 to Latin America including Mexico, Caribbean divisions, Brazil and other countries.

[2015-05-01 03:46] a0viedo commented on #300
In México and Puerto Rico they speak a latin-derived language too, ergo I think they should belong to Latin America too.

[2015-05-01 17:35] grabbou commented on #223
Just to give a short update. We are going live on Monday and after that, I am going to write a quick summary with a little help of our sponsor (social media/e-commerce agency)

[2015-05-02 08:38] finnp opened #306 "Code of Conduct on website"
Hey everyone,

recently someone thought NodeSchool would not have a Code of Conduct, because it wasn't linked on the main website.

Have a sub-site that includes:

- the organizers code of conduct: https://github.com/nodeschool/organizers/blob/master/code_of_conduct.md
- an explanation that every chapter has their own CoC and that they can open issues if they are not able to find one for their cha

[2015-05-11 21:22] grabbou opened #325 "Add missing polish translation to mentor page"
Introduced here #286

To be done over the weekend at Wrocław Chapter mentors hackathon.

[2015-05-13 22:46] jessecogollo commented on #300
@forres what do tou think? currently santiago group is separate of other groups.

[2015-05-13 23:09] buritica commented on #300
+1 to Latin America including Mexico, Caribbean divisions, Brazil and other countries.

[2015-05-15 17:08] julianduque opened #331 "Update event link"
NodeSchool International Day in MedellinJS event link should be http://www.meetup.com/MedellinJS/events/222554849/

where can I edit it?

[2015-05-17 05:48] martinheidegger commented on #331
Should be correct now.

[2015-05-19 23:00] maxogden opened #337 "collect analytics on workshop clicks"
we dont know how much people click on workshop links on the front page. we should track that!

[2015-05-19 23:18] sudodoki commented on #337
Should probably add eventlisteners on click and call
`ga('send', 'event', 'workshopper', 'click', %workshopper_id%);`
Could simply do that, given we have jQuery in the app. We are talking about clicking on github links for workshoppers, right?

[2015-05-19 23:34] maxogden commented on #337
@sudodoki yep! i've never done that with `ga`, do you wanna give it a shot if its easy? I can give you access to the google analytics if you want

[2015-05-19 23:48] sudodoki commented on #337
@maxogden yeah, sure, I'll give it a shot.

[2015-05-24 18:01] sudodoki commented on #145
Created a small plugin for this specific task https://github.com/sudodoki/copy-button

[2015-05-26 16:03] julianduque commented on #300
I've sent a PR #351 to move Santiago to Latin America Region

[2015-05-26 17:21] julianduque commented on #331
Thanks!

[2015-05-26 17:21] #331 closed

[2015-05-28 05:31] piyush-dholariya opened #353 "NodeJS event in Ahmedabad"
Nodejs Event is going on in Ahmedabad

http://www.meetup.com/ahmedabad_nodejs/events/222840037/

[2015-05-28 07:55] martinheidegger commented on #353
Quoting [the homepage](http://nodeschool.io/host.html):

Check out [the wiki](https://github.com/nodeschool/organizers/wiki) for info on how to create a chapter, run a successful event and build a local NodeSchool community!

[2015-05-29 17:27] julianduque commented on #300
PR has been merged and now we are all part of Latin America!! \o/

[2015-05-29 17:27] #300 closed

[2015-06-03 07:21] iancrowther opened #356 "Twitter Guideline"
As there are a few people using the twitter account, it would be good to get some sort of tweeting guideline.

Example.  Do not promote companies or services so as not to infer partnership unless specifically stated.

[2015-07-10 18:33] markthethomas opened #372 "Site down?"
Seems like the main site isn't working; maybe a DNS thing?
![](https://photos-2.dropbox.com/t/2/AABv2SLAItn0Lg2_7mATe3XnUeFLUrGHpoeD1d1W99jGWQ/12/242179532/png/32x32/1/1436558400/0/2/Screenshot%202015-07-10%2011.33.22.png/CMy7vXMgASACKAEoAg/zncR2vmero09AhSQDMbBX89LfE_GeKAPwf62DJyDEt8?size=1024x768&size_mode=2)

[2015-07-10 18:43] brianloveswords commented on #372
Hmm, it's [up for me](http://downforeveryoneorjustme.com/nodeschool.io). Our DNS provider is DNSimple and our host is GitHub (via GitHub Pages). It looks like [DNSimple hasn't reported any errors recently](http://dnsimplestatus.com/), but I know GH was [having some problems earlier](status.github.com/messages). I'll keep an eye on it though!

[2015-07-10 20:38] maxogden commented on #372
works for me too

[2015-07-10 20:46] markthethomas commented on #372
weird. Guess our provider kicked us out of node school 😏

[2015-07-10 20:48] markthethomas commented on #372
I'll close this out; must be a provider thing. I'm sure it'll be back up for us sooner or later

[2015-07-10 20:48] #372 closed

[2015-07-12 07:54] sotayamashita opened #373 "Is there logo assets ?"

[2015-07-12 08:25] sudodoki commented on #373
https://github.com/nodeschool/nodeschool.github.io/tree/source/images/make-a-sticker + https://github.com/nodeschool/nodeschool.github.io/tree/source/images (https://github.com/nodeschool/nodeschool.github.io/blob/source/images/nodeschool-hex.svg)

[2015-07-13 02:24] sotayamashita commented on #373
@substack Thank you

[2015-07-13 02:24] #373 closed

[2015-08-11 16:13] maxogden opened #385 "`npm run deploy` doesn't work"
the `source` default branch is new to me, I guess we are supposed to run `npm run deploy` to build and push to master, but I get this output:

[code]

note the `./scripts/deploy.sh: line 4: [: too many arguments` as well as the ` Anonymous access to nodeschool/nodeschool.github.io.git denied.`

Can someone who knows how this works:

- add instructions/explanation to the readme
- fix the `deploy` c

[2015-08-14 08:51] maxogden commented on #385
cc @martinheidegger maybe you have an idea?

[2015-08-14 13:16] watson commented on #385
I've updated (912b9f708fd0b508fa09cda7fed715dae1d30b5e) the `scripts/deploy.sh` to not use http authentication when communicating with github (which required your github username and auth token to be exposed as environment variables) and instead use github ssh auth.

[2015-08-14 13:16] #385 closed

[2015-08-14 16:49] sigo opened #388 "Events map bug"
I think that you have bug with map. Only markers are rendered.

![screenshot](https://cloud.githubusercontent.com/assets/321881/9279045/0d19dc00-42b5-11e5-8a88-1887ca4a16a2.png)

[2015-08-16 09:20] watson opened #389 "Why is the source branch the default branch?"
Does anyone know why we suddenly have a `source` branch and that it's the default git branch instead of `master`?

My apologies if this have already been discussed, but I have not been able to find any reference to it except [this comment](https://github.com/nodeschool/nodeschool.github.io/issues/385#issue-100349722) which doesn't help.

[2015-08-16 12:49] martinheidegger commented on #389
The source branch is compiled and pushed to the master branch by an automatic build system. (Codeship)

[2015-08-16 21:49] watson commented on #389
@martinheidegger Ok, so when ever a commit is added to `source`, Codeship automatically runs the `npm run build` command (or similar) and commits the build files to `master` which GitHub pages in turn deploys? How was our previous workflow?

[2015-08-17 00:32] martinheidegger commented on #389
Github hosts our site. So whatever is on the `master` branch actually appears on the homepage. Our former "workflow" was to have no workflow: everything pushed to `master` actually went online. We changed this for SEO reasons (translation)

[2015-08-17 00:40] martinheidegger commented on #389
Note: The reason why I don't share the CodeShip account is because it contains my credentials ... :stuck_out_tongue:

[2015-08-17 06:53] watson commented on #389
@martinheidegger So the CodeShip system runs a test suite of some sort before deploying to `master`?

[2015-08-17 08:13] martinheidegger commented on #389
No: The codeship system only runs the build/deploy code but to publish to `master`. It requires valid github credentials. Anyone with those credentials can commit as "me".

[2015-08-19 11:52] jlord commented on #388
Oh no, our titleset has gone. Hrmmm...

[2015-08-19 12:06] jlord commented on #388
Changed tiles here: https://github.com/nodeschool/nodeschool.github.io/commit/6bc8ccecb92659d07ecf6283fb070cf1a55461ca :sparkles:

[2015-08-19 12:06] #388 closed

[2015-08-19 21:45] fmoliveira commented on #353
Hi @piyush-avantsoft , the Meetup page doesn't exist anymore.

Are you still willing to create a NodeSchool chapter? If yes please follow the wiki as suggested by @martinheidegger .

[2015-08-20 00:55] kmckee opened #394 "Los Angeles hex on hexdex is 404ing"

[2015-08-20 01:02] kmckee commented on #394
See #396

[2015-08-20 01:13] fmoliveira commented on #394
Fixed in #396 .

[2015-08-20 01:13] #394 closed

[2015-08-21 15:31] watson commented on #389
I'm not that used to GitHub pages, so I don't know if this is possible or normal, but isn't there something about that you'd normally have a `gh-pages` branch that is the branch that will be deployed live? I ask because it would be nice if we could make master the main branch again and have the build stuff on another branch. I could of cause be totally wrong here :wink:

[2015-08-21 17:25] martinheidegger commented on #389
The `gh-pages` branch is for regular repositories under `<username>.github.io/<project>`. The `master` branch of the repo: `<username>.github.io` is deployed to `<username>.github.io`

[2015-08-23 04:44] fmoliveira opened #397 "Missing pt-br translation to mentor at event page"
A new "mentor at event" page have been introduced in #286 , so we have new translations to do.

This issue is to discuss about its pt-br translation.

[2015-08-23 04:47] fmoliveira commented on #397
Pull request #398 submitted.

[2015-08-23 04:50] #397 closed

[2015-09-14 13:14] claudiopro commented on #279
Hexdex is a nice wordplay on hex(agon in)dex. How would translators handle it? Leave as it is, or look for a similar wordplay?

[2015-10-15 21:00] maxogden commented on #389
Hmm yea it seems that since we're using the `<username>.github.io` we can't use `master` branch in this case as the source branch

[2015-10-15 21:00] #389 closed

[2015-10-15 21:02] maxogden opened #419 "Remove native dependencies from build steps"
I tried to build the site with node v4 today and it failed because `jsdom` failed (actually the sub-dependency `contextify` failed), and also the `posix` module failed to build. Both of these are native modules.

It would be nice to get rid of native modules and replace them with pure JS ones, just to make this repo require less maintenance when new node versions come out.

- [ ] replace `jsdom` w

[2015-10-16 16:55] mikeal commented on #419
Cheerio uses `htmlparser2` and `dom-serializer` which are not native.

[2015-10-18 09:01] miqid opened #421 "Unable to build site in a Windows 10 environment"
I'm trying to execute `npm install` to build the site, but I run into an error with the `posix` module. Relevant environment details include:

- Windows 10 Pro (x64)
- Node v0.12.7
- Visual Studio Community 2015
- Python 2.7.10

After a quick search for an answer, I came across nodejs/node-gyp#679, which had some helpful suggestions to try assorted environment configurations to get `node-gyp` to r

[2015-10-21 15:18] martinheidegger commented on #421
@miqid: Would you mind to send the whole error stack trace?

[2015-10-22 15:13] miqid commented on #421
@martinheidegger, sure thing. Please see below.

[code]

I also wanted to investigate further by looking into the `posix` module folder inside the project, but it does not exist, presumably due to the failure I'm having.

[2015-10-22 21:48] No9 commented on #421
Hi @miqid
I just tried a `npm install posix` on my windows machine and I see that it fails with a similar error
`fatal error C1083: Cannot open include file: 'unistd.h'`

I had a look at the code and the headers in posix.cc are unix specific and are not easily ported to windows.

I would be very surprised if this project ever worked on windows.

[2015-10-23 01:44] miqid commented on #421
@No9, thanks for the input.

If indeed the site can only be built inside of UNIX-like environments, I believe there should be a task to update the repository README to reflect this to spare other Windows users a wild goose chase in getting the build to work.

Alternatively, the site dependencies could be revised such that `posix` is no longer required, which would hopefully enable builds for Windo

[2015-10-23 01:45] martinheidegger commented on #421
This issue will be solved by solving https://github.com/nodeschool/nodeschool.github.io/issues/419

[2015-10-23 10:25] andrenventer opened #426 "Johannesburg chapter entry link broken"
I checked to find the organisers  "organizers": ["StevenMcD", "johannds"]
but don't find them in github.

I propose: Delete Johannesburg link in json list and let the organisers create a working entry

[2015-10-23 10:35] SomeoneWeird commented on #426
https://github.com/StevenMcD
https://github.com/johannds

They both exist.

[2015-10-23 10:35] #426 closed

[2015-11-08 11:09] sudodoki commented on #337
Considered resolved for time being.

[2015-11-08 11:11] #337 closed

[2015-11-08 11:12] sudodoki commented on #325
@grabbou did you get to do that?

[2015-11-08 11:13] sudodoki commented on #286
Closing this because #305 is merged. @filtercake — are you ok with that?

[2015-11-08 11:13] #286 closed

[2015-11-08 11:22] sudodoki opened #437 "package.json - fix license warning"
Currently at source
[code]
at least on npm 2.14.7

[2015-11-08 11:24] SomeoneWeird commented on #437
On phone - PR welcome :)

[2015-11-08 11:29] watson commented on #437
Currently the license in the package.json is just `BSD`. I guess the most normal BSD SPDX license would be BSD-2-Clause. I think we should add a `LICENSE` file in the root of the repo at the same time. A BSD-2-Clause text requires a copyright owner as far as I know - in that case, who should that be?

[2015-11-08 11:35] watson commented on #437
I've created a PR... I think it's the right choices - but I'm not a license geek, so please tell me otherwise :smiley:

[2015-11-08 12:02] sudodoki commented on #437
@SomeoneWeird — not too knowledgable about licenses, so cannot actually do that.
@watson — that was quick, kudos!

[2015-11-08 12:49] #437 closed

[2015-11-08 14:52] filtercake commented on #286
@sudodoki :+1:

[2015-11-30 03:52] kohei-takata commented on #419
Hi,

I tried updating version of jsdom and posix and it seems to work correctly.
I use node v4.2.2 and npm v3.3.12.
refs https://github.com/kohei-takata/nodeschool.github.io/commit/f61154e9b76b298ab6390ddba9c5403ce9e576a5

If there are some opinion that we should not use native modules, I will try another solution.

Thanks

[2015-11-30 19:44] maxogden commented on #419
@kohei-takata this is good news. I think we should leave this issue open for long term, but you should merge in your branch to at least fix the current issue

[2015-12-01 11:01] kohei-takata commented on #419
@maxogden
OK. I will make a Pull Request!

[2015-12-22 12:19] gutierri commented on #419
posix triggers errors in Windows. It does not solve #446

[2015-12-29 14:41] iancrowther opened #452 "Make hexdex more obvious"
http://nodeschool.io/hexdex.html

[2016-01-02 01:50] iancrowther commented on #452
also reference 	http://www.finnpauls.de/nodeschool-stickerify/

[2016-01-02 21:49] martinheidegger commented on #421
Opened PR #454 which should solve this issue.

[2016-01-02 21:50] martinheidegger commented on #353
Closing this issue due to inactivity. Please reopen if need-be.

[2016-01-02 21:50] #353 closed

[2016-01-02 22:19] martinheidegger commented on #97
This was fixed through the new build system.

[2016-01-02 22:19] #97 closed

[2016-01-02 22:19] martinheidegger commented on #141
Fixed with the new (old by now?) build system.

[2016-01-02 22:22] martinheidegger commented on #77
Some work on this is done in PR #390

[2016-01-02 23:03] iancrowther commented on #77
@danjenkins could you provide a skelington outline of what you would expect to see?

[2016-01-04 12:41] danjenkins commented on #77
@iancrowther everything I'd expect to see is in the description of the issue :D

[2016-01-04 20:48] iancrowther commented on #77
touché

[2016-01-04 21:30] RichardLitt commented on #452
To be honest, I think it is fairly obvious, as it is linked in http://nodeschool.io/chapters.html.

[2016-01-04 21:38] iancrowther commented on #452
@RichardLitt ah yes, good point.

do we want to reference nodeschool-stickerify?

[2016-01-04 21:42] RichardLitt commented on #452
I don't think so - that should just be added here: https://github.com/nodeschool/organizers/wiki/Checklist-For-Events

[2016-01-04 21:53] iancrowther commented on #452
done - https://github.com/nodeschool/organizers/wiki/Checklist-For-Events/334ce348cc6bbf9eecbcd87bee1cbe91267fd963

[2016-01-04 21:53] #452 closed

[2016-01-06 04:08] #419 closed

[2016-01-06 04:08] martinheidegger commented on #421
Should be fixed

[2016-01-06 04:08] #421 closed

[2016-02-10 21:30] joshterrill opened #465 "Website missing from github pages?"
Hello, I just set up a chapter in my local city of Modesto. I created a chapter, did a PR, it got merged, so `modesto.json` (https://github.com/nodeschool/nodeschool.github.io/blob/source/chapters/modesto.json) exists in the chapters. So then I added an `index.html` file to the Modesto repo (http://github.com/nodeschool/modesto). My understanding is I should see my index.html file at http://nodesc

[2016-02-10 21:33] zo0o0ot commented on #465
gh-pages branch, not master.  That'd be the first thing I'd try.

[2016-02-10 21:40] joshterrill commented on #465
I don't see a gh-pages branch :( https://github.com/nodeschool/nodeschool.github.io/branches

[2016-02-10 21:42] #465 closed

[2016-02-10 22:23] ismnoiet commented on #306
+1 @finnp, i agree with you. In my opinion **Coc** rules and constraints must be linked in the main website, may be 'li' item in the main menu on the top.

[2016-02-15 17:58] iancrowther commented on #356
I'm going to close this as its lingering

[2016-02-15 17:58] #356 closed

[2016-02-15 18:33] RichardLitt commented on #356
@iancrowther Maybe there would have been a better place for this to be? On the wiki?

[2016-02-15 22:08] iancrowther commented on #356
I think it's probably not that important as issues rarely arise

[2016-02-15 23:07] RichardLitt commented on #356
Aight.

[2016-02-29 06:32] chrisdickinson opened #475 "Description for SenecaJS duplicated into post-mortem debugging description"
Hey — was just passing by and I saw this:

![screen shot 2016-02-28 at 10 31 26 pm](https://cloud.githubusercontent.com/assets/37303/13387407/07e061c6-de6b-11e5-9c2b-88575699fa3f.png)

It looks like somehow the [description is being shared](https://github.com/nodeschool/nodeschool.github.io/blob/master/index.html#L406-L415), possibly?

Thanks for your rad work! :clap: :sparkles:

[2016-02-29 06:40] martinheidegger commented on #475
Awesome for spotting this. PR to fix this is welcome!

[2016-02-29 06:51] riyadhalnur commented on #475
The fix requires the `data-i18n` for Seneca to be updated. It's using the one for the debug chapter.

This is a good beginner issue for anyone interested.

[2016-03-01 21:25] iancrowther commented on #475
'cc @piccoloaiutante

[2016-03-02 09:09] piccoloaiutante commented on #475
Sorry guys i think i made that mistake. I'll send you a PR in few hours.

[2016-03-02 12:11] dominhhai commented on #475
(y)

[2016-03-02 13:40] piccoloaiutante commented on #475
How about it?

https://github.com/nodeschool/nodeschool.github.io/pull/476

[2016-03-02 14:00] martinheidegger commented on #475
Thanks!

[2016-03-02 14:00] #475 closed

[2016-03-11 15:55] bencodezen opened #482 "Workflow Suggestion: Optimize styles with Stylus"
Hi! I'm a first time commenter/contributor who wanted to find out if this would be an enhancement that the team would be interested in.

My goal would be to refactor the styles using Sass and creating a script that would compile it out to the root directory in a minified format to decrease its size.

If so, I'd be happy to do the work for this to help make nodeschool.io even easier to maintain!

[2016-03-12 09:17] martinheidegger commented on #482
Hello @bencodezen, i don't see why that would be a bad idea. I would personally prefer a all-javascript  solution like stylus, nextcss or less though since sass is a ruby/c tool and well... NodeSchool?!

[2016-03-12 19:00] bencodezen commented on #482
Hey @martinheidegger. Actually there are JS ports of Sass now so there's no need to involve Ruby in it. https://github.com/sass/libsass is the one I use with Gulp all the time and it works great. Let me know if that still works for you!

[2016-03-13 00:09] martinheidegger commented on #482
If you feel good about sass then I shall feel alright about it.

[2016-03-18 23:59] iancrowther commented on #482
+1

[2016-03-19 00:13] iancrowther opened #485 "Nodeschool Sticker"
I'm looking for nodeschool hex sticker and found:

https://github.com/nodeschool/nodeschool.github.io/blob/source/images/nodeschool-blank.png

It would be nice to have a hex sticker in yellow / black.

[2016-03-19 00:22] #223 closed

[2016-03-19 00:25] iancrowther commented on #266
I think you will be much more successful if you simply start and maintain a vibrant chapter and be a role model instead of trying to over-sea many chapters.

[2016-03-19 00:25] #266 closed

[2016-03-19 12:22] jpwesselink commented on #485
Let me sort that

[2016-03-19 17:14] RichardLitt commented on #485
@iancrowther Can you do that with this? http://www.finnpauls.de/nodeschool-stickerify/

[2016-03-19 17:41] jpwesselink commented on #485
Any fans for stickermule templates?

[2016-03-19 17:50] jpwesselink commented on #485
![nodeschool-logo](https://cloud.githubusercontent.com/assets/1814479/13900304/598f7e88-ee03-11e5-9572-4b6b6231b7f7.png)

I took the rgb values from logo.js: yellow #F2DF59, grey #393A36

[2016-03-19 21:35] iancrowther commented on #485
perfect

[2016-03-19 21:35] #485 closed

[2016-03-19 21:36] iancrowther commented on #485
I forgot about finn's tools!

[2016-03-20 22:04] kemitchell commented on #219
Is there a workshopper on licensing?

[2016-03-21 14:55] RichardLitt commented on #219
Not that I know of. That might be a good contribution.

[2016-03-24 01:41] bencodezen commented on #482
@martinheidegger - Just wanted to update you know that I gave it more that and wanted to let you know that I'm swapping over to Stylus per your original suggestion. It looks like they ported most of the Sass features that make Sass as powerful as it is, so nodeschool.io will stay a pure JavaScript solution!

[2016-03-24 03:03] martinheidegger commented on #482
@bencodezen Sounds awesome

[2016-05-16 15:35] Pame21QC opened #503 "issue"
pame

[2016-05-16 16:48] RichardLitt commented on #503
Hi @Pame21QC: Thanks for your first issue here! However, it is unclear what this issue is meant to mean. Please let us know. I am closing this now, as it looks like spam (sorry!) -- change the title and reopen if you have more to say. :)

[2016-05-16 16:48] #503 closed

[2016-08-02 13:09] marinintim commented on #482
@bencodezen how is it going? There is also PostCSS (also written in JS)

[2016-08-02 13:27] marinintim opened #515 "Obsolete README"
Hi there!

README.md talks about 100% client translation, but AFAIK it's no longer true (in #389 @martinheidegger says that it's get rebuild via codeship).

Is there some other issues to look at? It probably should replace this bit in README.md

[2016-08-02 14:03] martinheidegger commented on #515
True, the Readme is outdated!

[2016-08-02 14:15] marinintim commented on #515
I'll send a PR today or tomorrow

[2016-08-03 08:43] #515 closed

[2016-08-23 05:28] xfq opened #518 "Broken link in index.html"
It looks like the "Previous Event Writeups" section was removed from host.html in commit ca41b6924447c7eb7ceb08593c8781710e6030e2.

Maybe "Writeups of Past Events" (in index.html) should link to https://github.com/nodeschool/write-ups instead?

[2016-08-23 06:31] martinheidegger commented on #518
@xfq Good call, would you mind to add a PR?

[2016-08-23 06:42] riyadhalnur commented on #518
@xfq Opened a PR for it. Mind merging it? Cheers 😃

[2016-08-23 06:51] #518 closed

[2016-08-24 01:27] xfq commented on #518
@martinheidegger @riyadhalnur  Thank you!

[2016-08-29 19:17] damibarbieri opened #522 "Navigation among excersices is not working"
Hi, I have node v5.0 and npm v3.10.7 on win10. Navigation among the excersices si not working in any of the packages I've tried. It used to work before upgrading to win10 (on win8.1).
Any workaround?
Thanks!

[2016-08-30 04:52] riyadhalnur commented on #522
Hi @damibarbieri. For issues related to workshops, please open an issue on the [discussions](https://github.com/nodeschool/discussions/issues) repo. Closing this.

[2016-08-30 04:52] #522 closed

[2016-09-01 14:44] bencodezen commented on #482
@marinintim Sorry for the delay on this. Got caught in a whirlwind of moving and ended up getting side-tracked.

I love PostCSS and will definitely scaffold up a basic setup with Stylus for better CSS management. Let me know if there's anything else you'd like to see in the meantime.

You should expect to see something by next week!

[2016-09-01 20:37] bencodezen commented on #482
@martinheidegger / anyone else who can help: I'm getting a permission denied for pushing a branch up to the repo. Any idea if it's me or if I simply needed to be added to something?

[2016-09-01 22:57] martinheidegger commented on #482
@bencodezen The usual workflow is that you fork this Repository and then send a Pull Request.

[2016-09-02 13:29] bencodezen commented on #482
@marinintim Ah right. I'm so used to branching for work that I completely forgot about forking. You should see hopefully see something soon! 😄

[2016-09-02 17:40] bencodezen commented on #482
Turns out I'm a week earlier than expected 😄 , but here's the PR for this issue!

https://github.com/nodeschool/nodeschool.github.io/pull/524

Feel free to comment or ask me any questions!

[2016-09-03 00:02] martinheidegger commented on #482
@bencodezen I didn't see any problem with the output so I merged it. The work is really good, particularly considering the small output css. Thank you for taking the time for it!

[2016-09-03 00:02] #482 closed

[2016-10-10 18:13] junedev opened #531 "landing page: "index-bottom-header" localization broken for many languages"
**Issue**: This is about the text below the boxes with "tutorials", "events" etc. on the landing page. In many languages the text there shows the correct translation and after that again part of the sentence in English. See for example http://nodeschool.io/de/

**Root cause**: The json file with the translation contains only "index-header-bottom" for many languages and for a correct translation th

[2016-10-10 18:40] jevo commented on #531
Hi June,

I can help with the german translation.

[2016-10-10 18:47] martinheidegger commented on #531
cc. @tdd for french

[2016-10-10 18:53] junedev commented on #531
I am German myself. ;-) But as I explained the translations are already there just not split up into these individual fields. It's easy to fix even without speaking the language.

@martinheidegger @jevo Can you confirm the two points I wrote at the bottom of the issue? Then I will prepare a PR.

[2016-10-10 19:19] jevo commented on #531
I agree and understand the problem now ;-)

[2016-10-10 19:33] martinheidegger commented on #531
The english state should be generally considered as master. If the PR adds a fix that looks okay I have absolutely no problem with `index-header-bottomD`

[2016-10-10 22:26] junedev commented on #531
The PR is ready. I could fix it for every language I mentioned above but I saw there is also something wrong with Korean. Someone added the new translation strings but didn't remove the old one. Unfortunately the two don't match up 1 to 1 so I don't know how to fix this properly.

[2016-10-10 23:57] martinheidegger commented on #531
@junedev Okay: this is awesome work! Particularly that you were able to tackle so many languages.  Would you be interested in helping work out a greater localisation system? https://github.com/nodeschool/organizers/issues/376

[2016-10-11 07:46] junedev commented on #531
Well, there was just some patience and c&p skills required. As for your question I actually just wanted to fix that bug. I was on my way to help the ones even more in need, namely nodejs.org with the German translation.

[2016-10-11 09:01] martinheidegger commented on #531
@junedev It is my wish to make the system of this homepage run with the same static site generator as the one running on nodejs.org _(with the same or translation system connected)_. Crowdin is a commercial system but it could help us a lot.

[2016-10-11 18:15] jpwesselink opened #533 "Add community groups to site"
- [ ] Write Introduction to community groups
- [ ] Add how to to wiki
- [ ] List community groups on site (like [this](https://github.com/nodeschool/nodeschool.github.io/blob/source/scripts/build-chapters.js))

See https://github.com/nodeschool/organizers/issues/383#issuecomment-252695941

[2016-10-11 18:22] TheAlphaNerd opened #534 "https cert is only good for github urls"
<img width="670" alt="screen shot 2016-10-11 at 2 21 13 pm" src="https://cloud.githubusercontent.com/assets/498775/19282923/1a546dac-8fbe-11e6-97ec-326eaca5eac3.png">

[2016-10-11 18:24] martinheidegger commented on #534
It is possible put a https proxy in front of github webhosting. or use a different webhost to host this url. In any case: Infra support welcome.

[2016-10-12 01:29] martinheidegger commented on #531
Marking this as closed. Please reopen if you think it is not finished.

[2016-10-12 01:29] #531 closed

[2016-10-12 07:22] jpwesselink commented on #534
A decent solution could be using Cloudflare, as decribed [here](https://developer.ubuntu.com/en/blog/2016/02/17/how-host-your-static-site-https-github-pages-and-cloudflare/). We probably need a different tier than their free one though because their free tier [does not support sha1 for older browsers](https://blog.cloudflare.com/sha-1-deprecation-no-browser-left-behind/).

I'd like to match the Go

[2016-10-12 08:38] riyadhalnur commented on #534
My concern with using CloudFlare is that the connection between CloudFlare and GitHub will not be over SSL. Protecting 2/3 steps of the connection is the same as not having the protection at all.

[2016-10-12 09:48] jpwesselink commented on #534
Doesn't it work like this?

https://nodeschool.io (at CloudFlare) < - > https://nodeschool.github.io (at GitHub)

[2016-10-12 09:57] riyadhalnur commented on #534
More like this :
*User <-- SSL --> CloudFlare <-- HTTP --> GitHub*

![Cloudflare](https://blog.cloudflare.com/content/images/2016/06/cloudflare_ssl_modes.png)

I don't think we can opt for Full SSL (Strict). Assuming we opt for Full SSL (2nd option), since CloudFlare doesn't validate the certificate, we would be risking a MITM attack.

[2016-10-12 09:59] jpwesselink commented on #534
Aha. So Full SSL (Strict) would only suffice. What do we need for that?

[2016-10-12 10:07] riyadhalnur commented on #534
From what I understand after reading this [thread](https://github.com/isaacs/github/issues/156), I don't think Full SSL (Strict) is going to work. Seems like for now, people are opting for Flexible SSL because Full SSL by itself doesn't really make much difference.

[2016-10-12 10:32] martinheidegger commented on #534
A different thought: [now](https://zeit.co/now#pricing) costs 14.90/month for a custom_domain. And it would allow us to do some other, server-side processing as well. I wonder if we could get open-source sponsoring?

[2016-10-12 10:36] jpwesselink commented on #534
@riyadhalnur I see, interesting thread. Ok, then CloudFlare is not going to work.

[2016-10-12 10:40] martinheidegger commented on #534
(with now it is possible to serve ssl content)

[2016-10-12 10:53] jpwesselink commented on #534
@rauchg, would it be possible for Zeit to sponsor us with hosting?

[2016-10-12 11:45] riyadhalnur commented on #534
Yeah, would be great if we could get Zeit to sponsor our hosting. Would solve all our problems 👼

[2016-10-12 15:41] SomeoneWeird commented on #534
So you're suggesting we have 0 protection rather than _some_ ?

[2016-10-12 15:43] SomeoneWeird commented on #534
If the origin server has SSL, cloudflare will 100% use that if you enable "Full SSL" (but not strict mode) when connecting back to origin. Just because something is not 100% perfect does not mean we can't use it.

[2016-10-12 15:46] riyadhalnur commented on #534
@SomeoneWeird If there's a possibility of MITM attacks, yes I don't think it's worth protecting two-thirds of the path. The whole point of SSL is to mitigate MITM attacks among others.

[2016-10-12 15:48] SomeoneWeird commented on #534
@riyadhalnur So you would rather leave everyone open to 100% possibility of MITM, rather than protecting against the 75% - albeit leaving the **hardest** 25% vulnerable? That seems very backwards.

[2016-10-12 15:51] riyadhalnur commented on #534
If there was to be a MITM attack when you have 75% of it protected, then the loss of trust that will arise is more damaging. We'll essentially be giving people a false sense of security.

Another example would be this scenario - serving an app over HTTPS but storing user passwords in plain text in the database.

[2016-10-12 15:53] SomeoneWeird commented on #534
So you would rather leave everything open to MITM to really basic adversaries (like somebody sitting on the same WiFi router as them) than protecting against the easiest 75% and now having to fend off nation-state level attackers that can MITM the infrastructure between Cloudflare and Github?

"Don't do nothing just because you can't do everything"

[2016-10-12 16:00] riyadhalnur commented on #534
I get your point but you're assuming that only state level actors can inflict damage on the unprotected 25%. This [incident](http://thehackernews.com/2016/08/github-ssl-certificate.html) doesn't give me confidence.

[2016-10-12 16:02] SomeoneWeird commented on #534
Even if we have 100% SSL across everything, it would still be a problem is a rogue CA handed out malicious certs. What we're talking about here doesn't (and can't!) protect against that.

[2016-10-12 16:04] SomeoneWeird commented on #534
Enabling stuff like HPKP can be done _on top_ of us enabling SSL on the website, which would mitigate _some_ of the attack avenues of rogue-certificates. But we still need SSL.

[2016-10-12 16:14] riyadhalnur commented on #534
That's a level of trust you walk in with when deploying SSL anywhere be it from Let's Encrypt, DigiCert, Comodo and so on. That like everything else goes to show nothing's 100% perfect but would you want to push that trust beyond that, as a real user?

[2016-10-12 16:15] SomeoneWeird commented on #534
I know, that's what i'm arguing _for_. You're saying that just because we can't 100% trust everybody then we shouldn't use SSL?

[2016-10-12 16:16] SomeoneWeird commented on #534
Anyway, enabling SSL (even if it's just for the 75%!) should be the first thing we do ASAP. We can reevaluate and keep arguing about it, but as long as we have _something_ soon, we have time to evaluate the best way to proceed from here.

[2016-10-12 16:33] riyadhalnur commented on #534
I'm not saying we should never use SSL but personally, I would not want to push my trust beyond a certain point which is the case here.

We could definitely use CloudFlare for the time being and since we don't have any sensitive information passing through the servers (none comes to mind), it would theoretically be ok. I personally would still like an option like **now**.

[2016-10-14 13:48] jpwesselink commented on #534
I agree with @SomeoneWeird that we should have something in place asap. I'm applying the CloudFlare setup to one of my domains to see how easy it is to implement. If it doesn't give me trouble we can implement it for nodeschool.io as well.

[2016-10-15 15:39] gerrywastaken commented on #534
@riyadhalnur I agree completely. Even with a secure connection, you're still only protecting part of the path, the hosting company can still access data. A browser/OS vendor could still supply fake root certificates and hijack all traffic. If we can't prevent against these things then we are just engaging in security theatre. The only reasonable step is to remove the hard drive from the server, st

[2016-10-15 16:35] riyadhalnur commented on #534
@gerrywastaken thank you for making my day a bit brighter 😄
![cee2e2017554de6da437cb4c37dfb65be82a6da7949a56fc24e9ad41e00b84b7](https://cloud.githubusercontent.com/assets/3457571/19411667/ac15344e-9327-11e6-955a-b1cab144e56c.jpg)

[2016-10-19 10:27] jpwesselink commented on #534
Current DNS records are like so:

[code]

CloudFlare will copy 'em like this:

<img width="960" alt="screen shot 2016-10-19 at 12 21 21" src="https://cloud.githubusercontent.com/assets/1814479/19515200/bd47e8fc-95f6-11e6-8e6b-e5a5e8cb0a6f.png">

@brianloveswords if this looks sane to you, can change the nameservers like so?

Current Nameservers	| Change Nameservers to
------------------- | -------

[2016-10-20 22:30] jpwesselink commented on #534
Thanks @brianloveswords. It seems that the changes have propagated properly and we have a valid certificate :tada:

![screen shot 2016-10-21 at 00 28 44](https://cloud.githubusercontent.com/assets/1814479/19580265/7b22243a-9725-11e6-848c-193e5d4be1cf.png)

[2016-10-20 22:38] #534 closed

[2016-10-21 16:13] jpwesselink opened #537 "Semi-colon consistency in ./scripts/"
Coding style in `./scripts/` files is inconsistent regarding semi-colons. Which style do we follow?

[2016-10-21 21:53] jpwesselink opened #539 "target="_blank" vulnerability"
Vulnerability: https://mathiasbynens.github.io/rel-noopener/
Fix: https://github.com/nodeschool/nodeschool.github.io/pull/538

[2016-10-22 06:36] martinheidegger commented on #537
[standard](http://standardjs.com)

[2016-10-22 08:03] riyadhalnur commented on #537
@martinheidegger Is that the style we'll follow from now on then?

[2016-10-22 08:07] martinheidegger commented on #537
It is the style I use for all tools I write for nodeschool

[2016-10-22 08:16] riyadhalnur commented on #537
Cool, I guess then we have a way forward with the files in `./scripts/`

[2016-10-22 08:24] jpwesselink commented on #537
Hamburgers instead of spaces or tabs?

[2016-10-25 15:40] brianloveswords commented on #534
@jpwesselink we good on this issue, think we can close it?

[2016-10-25 15:49] jpwesselink commented on #534
With pleasure :)

[2016-11-03 11:15] #539 closed

[2017-06-11 11:01] donimbaga opened #569 "Hey i'm new to all this, how do i create a chapter for my country"

[2017-06-11 23:34] fforres commented on #569
Hi! @donibrysonimbaga that's great that you wan't to create a chapter!
Kudos!

This links can be useful
For creating a chapter:
  - https://nodeschool.io/events.html
For help with running an event:
  - https://nodeschool.io/host.html
  - https://github.com/nodeschool/organizers/wiki

[2017-09-13 13:20] Khangeldy opened #578 "unreachable for me or my country"
Hello! It seems that this site is not unreachable for my country.
I live in Kazakhstan. IF soo. Why it is blocked?

[2017-09-13 13:54] RichardLitt commented on #578
That is bizarre. [Kazakhstan censors many websites](https://freedomhouse.org/report/freedom-net/2016/kazakhstan), but GitHub shouldn't be one of them. I don't know how to replicate as I don't know of a VPN provider with servers in Kazakhstan. I would suggest you use a VPN to get around this issue. Please be aware of any laws in your country that are relevant to this.

Currently, there is no Nodesc

[2017-09-16 18:48] #578 closed

[2017-10-12 19:48] #533 closed

[2017-10-25 16:22] Arkadiro commented on #6
Nice and useful [tutorial](http://www.codebind.com/category/linux-man-pages/)
Command line Linux/Mac

[2017-10-27 22:37] interannette commented on #6
I'd be up for helping out with this. Is there anywhere in particular the list of resources should go? Or anywhere you specifically don't want it?

[2017-10-29 23:18] interannette commented on #306
@iancrowther are you still working on this? I'd like to take a stab at it if you aren't currently working on it.

[2017-10-29 23:26] interannette commented on #272
@finnp is this still relevant? It looks like there was some clean up done after this issue was opened, though it wasn't tagged with this issue.

[2017-10-29 23:30] fforres commented on #306
PRs are more than welcome @interannette!
I say take that stab!! :D

[2017-10-29 23:36] interannette commented on #133
Unless I missed something, this was just a matter up updating the prompt. Please take a look at #585

[2017-10-30 00:03] interannette commented on #306
Thanks for the encouragement @fforres! I submitted a PR!

[2017-10-30 00:12] interannette commented on #138
@sudodoki I think this can be closed. If I am understanding the documentation correctly "npm run generate-untranslated-lang" will generate the list of missing translations.

[2017-10-30 00:47] interannette commented on #209
@martinheidegger based on the linked discussion it seemed like the website would be a CC license, but the actual LICENSE file in this repo does not appear to be a CC license. Is the LICENSE file in this repo the correct thing to reference? I made a PR with that assumption, but upon further investigation I'm not sure if that was the right approach.

[2017-10-30 02:15] riyadhalnur commented on #133
Closing this. Fixed in #585

[2017-10-30 02:15] #133 closed

[2017-10-30 02:18] riyadhalnur commented on #209
Closing this. Fixed in #587

[2017-10-30 02:18] #209 closed

[2017-10-30 13:49] RichardLitt commented on #272
Looks relevant to me, after looking at the js folder. It's a bit of a mess, and the `package.json` scripts are mostly linking to bash scripts, which is a bit confusing. I think this can be tidied up a bit.

[2018-01-10 11:23] AhsanAyaz opened #596 "Adding NodeSchool Karachi Chapter on the site"
Adding @nodeschool/karachi to the website as "Karachi, PK"

[2018-01-10 11:38] #596 closed

[2018-02-24 20:17] stathoula opened #603 "Contribution to the nodeschool internet web page"
Is there any way to contribute to the "nodeschool internet web page"?  Maybe by improving the web design, or adding a new feature, or any other suggestion?

[2018-02-25 00:31] finnp commented on #603
There's definetely room for improvement ☺️  For example the [calendar page](https://nodeschool.io/events.html) currently look a bit off.

Also a few things are outdated. For example we're currently not really sending out newsletters, but that's still on our frontpage and should probably be removed.

Currently the code for the website is fairly messy, so that might make contributing harder. That's

[2018-02-25 20:44] stathoula commented on #603
I could remove first the phrase "or subscribe to our free email newsletter." from the frontpage and then start working on the calendar. What do you think?

[2018-02-26 18:06] finnp commented on #603
Sounds great!

[2018-03-13 07:12] #569 closed

[2018-05-11 16:25] #48 closed

[2018-08-28 04:18] fforres opened #628 "Hex page updates"
For discussing #626 changes

[2018-08-28 04:28] ogsilvaa commented on #628
The change in hexdex page is based in chapter page, so if navigator do not have JS enabled, then, chapter and hexdex do not work.

On the other hand, the description and height should be corrected.

'------

El cambio en la página hexdex, esta basado en la página chapter, por lo que si el navegador no tiene habilitado JS, entonces, chapter y hexdex no funcionarán.

Por otra parte, la descripción y

[2018-08-28 04:29] fforres commented on #628
@ogsilvaa first of all, it is really cool that you decided to work on the hexdex pages! Thanks a lot for the contribution 🙏 !!

Over the pr, my 2 cents would be.

- I like a lot the idea of having some visual description for the hexagons! 🤘
Seeing them there, while looking really cool, does not show context or information on the chapters

I think adding the description bellow each image and linkin

[2018-08-28 04:33] fforres commented on #628
Aaaaaah, good point!
How do you feel about adding a `<noscript>` tag with the old content, and the provide the new and improved UI when JS is enabled?
https://www.w3schools.com/tags/tag_noscript.asp

[2018-08-28 04:38] ogsilvaa commented on #628
Perfect, I will add more description on each image, it seems to me to place the administrators too. I will correct the height and you are right about the contrast only that it will be difficult to find a color that makes contrast to all better, change the effect.

'----

Perfecto, agregaré más descripción sobre cada imagen, me parece que colocar los administradores también. Voy a corregir la altur

[2018-08-28 06:53] fforres commented on #628
@ogsilvaa
You merged #627?
I was under the impression you where going to fix the issues?
I think the changes pushed create accessibility issues we should not willingly create.

[2018-08-28 12:08] ogsilvaa commented on #628
There are no more accessibility problems than the ones that already exist. The incidences do not suppose a major problem they are only visual. On the other hand, the page has a substantial improvement since it now shows all the badges already raised in the repo. I appreciate your comments and will make the visual corrections given, as well as the creation of new features. I will appreciate that yo

[2018-09-29 12:47] kevinsimper opened #630 "Organize workshops in a list?"
I feel like now there is so many workshops that it can be difficult to get a overview since the are in two columns and in no particular order.

Some of them are also more difficult than others, so beginners have a more difficult time to choose.

I propose that you can also view it as a table.

Is that a good idea?

[2019-04-03 18:07] tekindermisel opened #638 "Can't add new chapter"
Hello guys, we are about to kick-off the first workshop for NodeSchool Niš chapter, but we are unable to push a change thru a new branch on this repo.

It says:
`fatal: unable to access 'https://github.com/nodeschool/nodeschool.github.io.git/': The requested URL returned error: 403`

[2019-05-23 08:42] huanghe2015 opened #640 "The order of electives"
# Order
(If this question can't be hosted on this project,I will close this issue and open a new on other parts)
Common view and learning order for humans is from up to bottom.Therefore,I think the core part of Javascript should be top of Electives.
## For instance:

### The three cornerstone of Javascript:

- Prototype & Prototype Chain
- Scope & Scope Chains & Closures
- Callback Functions & Asy

[2019-06-02 06:01] 3imed-jaberi commented on #138
@sudodoki , you want to quick script for display all missing languages in the project  ?
if yeah put comment here and i will do this quickly  with PR 🎯

[2019-06-02 06:12] 3imed-jaberi commented on #6
This is a basic cli tuto 🔥 : https://www.sitepoint.com/javascript-command-line-interface-cli-node-js/

[2019-06-02 10:08] sudodoki commented on #138
@3imed-jaberi no I guess https://github.com/nodeschool/nodeschool.github.io/issues/138#issuecomment-340314831 covers it.

[2019-06-02 10:08] #138 closed

[2019-06-02 20:14] 3imed-jaberi commented on #138
@sudodoki i can do that bro ... i scrape all language in the google translate and i compare that with all files names in the language folder then i will return the list of all language missing ...

[2019-07-29 00:51] 3imed-jaberi opened #644 "Request for information"
## Request for information :
 Why the official page doesn't contain the [Arabic translation](https://github.com/nodeschool/nodeschool.github.io/commit/5ad19a2386e9d2783d5f754739372794ba49ee6e)?
 Is it a build problem or should be change some other files ?

[#2435](https://github.com/nodeschool/discussions/issues/2435)

[2019-08-20 08:39] madhusona opened #646 "chapters list is not updated"
Coimbatore, IN chapter is not updated in NodeSchool Chapters

[2019-08-26 00:07] #644 closed

[2019-11-23 03:50] klequis opened #648 "nodeschool east bay admin rights?"
re: https://github.com/nodeschool/eastbay

I am a member of the team (only one so far) but seem to have no ability to admin the repo. I am unable to push changes to the repo and see no way to add a member?

[2019-11-23 11:30] SomeoneWeird commented on #648
For some reason the team wasn't assigned any permissions on the repo - I've added it now.

[2019-11-24 18:09] klequis commented on #648
Thank you for that.

Looks like ... only organization admins (which I'm not) can add members to a team and I'm unable to add members to eastbay who are not in the org.

I want to add [costanza13](https://github.com/costanza13) to the east bay team.

[2019-11-25 03:00] riyadhalnur commented on #648
Hi @klequis I invited https://github.com/costanza13 to the team. You can use the @nodeschoolbot to add team members in the future if you wish to do so by opening an issue on https://github.com/nodeschool/discussions/issues.

Closing this. Please feel to reopen if premature.

[2019-11-25 03:00] #648 closed

[2019-11-25 03:00] riyadhalnur commented on #648
Here is what I can do for you:

* `help` - shows this help
* `create-repo {name}` - creates a nodeschool repo
* `add-user {username}` - adds a user to the `chapter-organizers` team and the org
* `create-team {team}` - creates a new team
* `add-team-user {team} {username}` - add a user to a specific team

[2019-12-04 09:46] LordJohn42 opened #649 "Site not avaliable"
Hello guys, why site not avaliable?

[2019-12-04 17:43] victorperin commented on #649
I'm trying here and everything seems ok.

[2019-12-11 07:45] LordJohn42 commented on #649
@victorperin but, and now site not avaliable from different networks. Country: Russia.

[2019-12-11 21:02] victorperin commented on #649
So is it possible to be some kind of firewall blocking it?

Is there any way to reproduce it somehow?
Can you use a VPN or something like that to test it?

[2019-12-12 16:49] a0viedo commented on #649
that seems to be the case..but sadly there's nothing we could to do fix it
![image](https://user-images.githubusercontent.com/2440935/70731811-1b0b4280-1ce6-11ea-9637-cb62b187ad57.png)
[source](https://isitblockedinrussia.com/?host=nodeschool.io)

[2019-12-13 02:34] victorperin commented on #649
So @LordJohn42 I recomend you using a VPN while using the web there. There are good options on on this subreddit: [/r/vpn](https://www.reddit.com/r/VPN/).
Or you can try using tor (but there's some problem with bandwidth sometimes.

Also, if you need any help, just tell me so we can find a solution.

[2019-12-13 02:35] victorperin commented on #649
Thanks for the help @a0viedo. I will try this site when something related happens :)

[2019-12-13 10:02] LordJohn42 commented on #649
@victorperin Thank you.

[2019-12-13 10:02] #649 closed

[2020-04-16 14:07] timskau opened #653 "index-get-going-help-pre is missing from Norwegian translation"
in nb-no.json the "index-get-going-help-pre" is missing, causing the English translation to appear under the Norwegian translated page.  This section is not translated.

I can fix this if wanted.
Also there are other minor fixes on the Norwegian translations that should be done.

![image](https://user-images.githubusercontent.com/28575673/79466078-61f2a700-7ffc-11ea-8853-1d21b5b79963.png)

[2020-11-15 03:48] akshitagupta15june opened #656 "Request for joining the organisation"

[2020-11-15 05:22] #656 closed

[2021-07-03 06:33] BaseMax opened #659 "Iran website is down!"
http://nodeschools.ir/

## 403 Forbidden
Access to this resource on the server is denied!

[2022-08-27 12:01] abhaytaras7 opened #661 "Request for joining origanization"
I'm open source advocate and love to do open source contributions